
.titleh1 {
    font-size: 2em;
    color: rgb(15, 62, 163);
}
.stylePicture {
    max-width: 75%;
	height: auto;
    border-radius: 10px;
    border: rgb(167, 140, 20) 1px groove;
}
.itemBox {
    background-color: antiquewhite;
    border-radius: 10px;
    border: rgb(167, 140, 20) 3px groove;
}
.flexColomun {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    align-items: flex-start;
}
.titleSpan {
    font-size: larger;
    font-weight: 400;
    font-style: italic;
}
.padding1 {
    padding-left: 6em;
}
.specialRules  {
    list-style-type: disc;
   
}